# Python cache
__pycache__/
*.py[cod]

# Логи
*.log

# Настройки среды
.env

# Виртуальные окружения
venv/
*.venv/

# Папки и файлы, которые не нужно добавлять
*.sqlite3
*.db
*.pid
*.pid.lock
*.bak
*.swp
*.tmp

# Другие настройки
*.DS_Store
*.idea/
.vscode/
